.header{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    background-color: blue;
    flex-wrap: wrap;
}

.vertical-space{
    padding-bottom: 15px;
}
.container{
    
    display:flex;
    justify-content: space-around;
    
}

.image{
    display:flex;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 4px;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.two{
    background-color: thistle;
}

.caption{
    display:flex;
    width: 200px;
    height: 50px;
    background-color: thistle;
    position: relative;
    top: 300px;
    right: 200px;
    flex-wrap: wrap;
    flex-wrap: row;
}
.centerbox{
    display:flex;
    justify-content: center;
    background-color: rgb(235, 235, 137);
    flex-wrap: wrap;
    flex-direction: row;
    
}
.wrapper{
    display:flex;
    justify-content: center;
    background-color:rgb(235, 235, 137);
    max-width: 960px;
    flex-wrap: wrap;

}

.roles{
    font-family: 'Dancing Script';
}




