.header{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    background-color: blue;
    flex-wrap: 20px;
}

.vertical-space{
    padding-bottom: 1px;
}
.container{
    display:flex;j
    justify-content: space-around;
}

.image{
    display:flex;
    width: 200px;
    height: 300px;
    
}
.two{
    background-color: thistle;
}

.caption{
    display:flex;
    width: 200px;
    height: 50px;
    background-color: thistle;
    position: relative;
    top: 300px;
    right: 180px;
    flex-wrap: 20px;
}
.centerbox{
    display:flex;
    justify-content: center;
    background-color: yellow;
    flex-wrap: 20px;
}
.wrapper{
    display:flex;
    justify-content: right;
    background-color: rgb(122, 26, 45);
    max-width: 960px;
    flex-wrap: 20px;

}




